/*-----------------------------------------------------------------------*/
/* Pokemon Project Website CSS Theme Build #093 Author: Jayden Nguyen   */
/*---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url("DMCSSfiles/sidebarcommon.css");
@import url("DMCSSfiles/flairs.css");
@import url("DMCSSfiles/timetable.css");
@import url("DMCSSfiles/tabmenu.css");
@import url("DMCSSfiles/sidebarheaders.css");
@import url("DMCSSfiles/buttons.css");
@import url("DMCSSfiles/sidebarwebnav.css");

/*header*/
#header {
  width: 1325px !important;
  height: 148px;
  background: url(images/daymodeheader.png);
  position: relative;
  left: -50px;
  top: -50px;
  margin-right: -100px;
}
#header p {
  text-indent: -9999px !important;
  content: "";
  display: inline-block;
  background: url(images/rsz_11dm-logo.png);
  height: 90px !important;
  width: 234px;
  text-align: center;
  position: relative;
  left: 505px;
  top: 1px;
  opacity: 0.8;
}
#header p:hover {
  opacity: 1;
}
body {
  font-family: 'Lato', Arial, sans-serif !important;
}
/*End Nav bar*/

/*Tabmenu Spacer*/
body > p {
  font-family: Verdana,Geneva,sans-serif;
  left: -40px;
  top: 1px !important;
  position: relative;
}
.tabmenuspacer {
  border: 2px solid #e3e3e3;
  text-indent: -9999px;
  z-index: 0;
  position: absolute;
  top: 146px;
  left: -2px;
  width: 1325px;
  height: 40px;
  border-left: none;
  border-right: none;
  margin-right: 0px;
  margin-bottom: 5px !important;
  background-color: white;
}
